body{
  margin:0;
  padding:0;
  background: #C2ECEB;
  font-family: "Calibri";
  font-size: 18px;
}
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
  width:100%;

}

@font-face{
  font-family: 'CasualFeena';
  src:url("fonts/FEENC___.ttf");
}

#bigpic {
  width:100%;
  /*height:100px;*/

}

#nav {

  width: 100%;
  position: fixed;

  top:20px;
  border: solid;
  border-color: white;

}
#nav h1 {
  float:left;
  padding-left: 30px;
  color:white;
  font-family: 'CasualFeena';
  font-size: 48px;
}



#nav li{
  float:right;
  display:inline;
  padding-left: 20px;
  padding-right: 30px;
  color:white;

}

.summary{

  color:white;
  position: absolute;
  top:550px;

}

.summary p{
  text-align: center;
  padding:50px;
}


.board {
  background: white;
  width:31.5%;
  float: left;
    margin: 10px;
}
.board h3 {
  float:left;
  padding-left: 10px;
}

.board h3::before{
  content:"∴";
}
.board h4 {
  float:right;
  padding-right: 10px;
}

#img1{
  width:95%;
height: 190px;
  padding: 10px;

}

#img2{
  width:96%;
  height: 190px;
  padding: 5px;

}

#img3{
  width:96%;
height: 190px;
  padding: 5px;

}


#footer{
  background-color:white;
  text-align: center;
  padding: 20px;

}




/*search button styling*/

  #tfnewsearch{
    text-align: center;

    padding:10px;
  }
  .tftextinput{
    margin: 0;
    padding: 5px 15px;

    font-size:14px;
    border:1px solid lightgrey; border-right:0px;
    border-top-left-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
  }
  .tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    text-align: center;
    color: white;
    border: solid 1px lightgrey; border-right:0px;
    background: lightgrey;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }
  .tfbutton:hover {
    background: turquoise;
  }


  .tfclear{
    clear:both;
  }


.cf{
  clear:both;
}





/*.foot{
  background-color: red;
  margin:0 auto;
  text-align: center;
}*/
